<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--添加一个新条目让日志输出到控制台中，并添加必要的输出布局（layout）-->
    <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
    <!--说明 xsi:type="Console"指定输出到控制台；layout指定输出文件内容的样式 ${longdate}是日期（具体到毫秒），${level}是日志的等级；${message}是具体要输出的内容。-->
    <target name="Trace-Error-Debug-Fatal" xsi:type="File" fileName="d:/log/Trace/${date:format=yyyy-MM-dd HH}.log" layout="${longdate} [${level}]： ${message}"/>
    <target name="Info" xsi:type="File" fileName="d:/log/Info/${date:format=yyyy-MM-dd HH}.log" layout="${longdate} [${level}]： ${message}"/>
    <target name="Error" xsi:type="File" fileName="d:/log/Error/${date:format=yyyy-MM-dd HH}.log" layout="${longdate} [${level}]： ${message}"/>
   
  </targets>

  <rules>
    <!--添加必要的规则-->
    <logger name="*"  writeTo="console"/>

    <logger name="*" minlevel="Trace" maxlevel="Fatal"  writeTo="Trace-Error-Debug-Fatal"/>
    <logger name="*" minlevel="Debug" maxlevel="Info"  writeTo="Info"/>
    <logger name="*" minlevel="Warn"  writeTo="Error"/>
   
  </rules>
</nlog>
